body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(233, 233, 233);
}

hr{
   color: gray;
   z-index: 1000;
}

@font-face{
    font-family: Body;
    src: url(assets/Helvetica-Font/Helvetica.ttf);
}
@font-face{
  font-family: Bold;
  src: url(assets/Helvetica-Font/Helvetica-Bold.ttf);
}


/* menu grid */
.menu{
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 5%;
    box-shadow: 0px 0px 2px rgb(184, 184, 184);
    font-family: Body;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    padding-top: 0;
    padding-bottom: 7px;
}
.menu img{
  height: 60%;
  width: 60%;
  object-fit: contain;
  padding: 0;
}
.menu div{
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 90%;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-icon:hover{
    background-color: gray;
    opacity: 20%;
    border-radius: 10px;
    z-index: -100;
}

.logo{ 
    grid-column-start: 1;
    grid-column-end: 2;
}
.logo img{
  width: 100%;
  padding-left: 7%;
}
.search{
    grid-column-start: 2;
    grid-column-end: 4;
}
.search button{
  text-decoration: none;
  background-color: rgb(233, 233, 233);
  color: rgb(120, 120, 120);
  padding: 10px;
  border: none;
  font-family: Body;
  width: 250px;
  border-radius: 30px;
  text-align: left;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 13.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home{
    grid-column-start: 6;
    grid-column-end: 7;
}
.watch{
    grid-column-start: 7;
    grid-column-end: 8;
}
.marketplace{
    grid-column-start: 8;
    grid-column-end: 9;
}
.groups{
    grid-column-start: 9;
    grid-column-end: 10;
}
.gaming{
    grid-column-start: 10;
    grid-column-end: 11;
}


.profile-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 13;
    grid-column-end: 14;
}
.create{
    grid-column-start: 14;
    grid-column-end: 15;
}
.messaging{
    grid-column-start: 15;
    grid-column-end: 16;
}
.notifications{
    grid-column-start: 16;
    grid-column-end: 17;
}
.account{
    grid-column-start: 17;
    grid-column-end: 18;
}

.post-flex{
    padding-top: 10vh;
}


/* start */
.space{
    height: 10vh;
}

/* post flex */

.post-flex{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgb(184, 184, 184);
    font-family: Body;
}
.author-flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 95%;
    align-items: center;
  }
  .author-photo{
    width: 10%;
  }
  .author-name{
    padding-left: 1%;
    justify-self: center;
    font-family: Bold;
  }
  .author-name a{
    text-decoration: none;
    font-size: 0.8rem;
    color: gray;
    font-family: Body;
  }
.text{
    width: 95%;
    font-size: 14px;
}


.data-grid{
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 90%;
    padding-top: 1%;
}
.reactions{
  grid-column-start: 1;
  grid-column-end: 2;
}
.data{
  grid-column-start: 3;
  grid-column-end: 4;
  font-size: .9rem;
  color: gray;
}
.data-grid a{
  text-decoration: none;
  font-size: .9rem;
  color: gray;
}

/* image */
.image{
    align-self: center;
    width: 95%;
}

/* reactions */
.reactions-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 4%;
    padding-bottom: 4%;
    grid-gap: 200px;
}

.reactions-grid div:hover{
  background-color: gray;
  opacity: 20%;
  border-radius: 10px;
}
.like{
    grid-column-start: 1;
    grid-column-end: 2;
}
.comment_block{
    grid-column-start: 2;
    grid-column-end: 3;
}
.share{
    grid-column-start: 3;
    grid-column-end: 4;
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  @keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  .hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-buzz{
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

/* Redacted */
body {
  background: #eeeeee;
  color: #222222;
}

p {
  line-height: 1.25em;
}

.redacted {
  position: relative;
  display: inline-block;
}
.redacted:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.left .redacted:before,
.right .redacted:before {
  -moz-animation: redact-blackout-width 1s ease-out forwards infinite;
  -webkit-animation: redact-blackout-width 1s ease-out forwards infinite;
  animation: redact-blackout-width 1s ease-out forwards infinite;
}

.right .redacted:before {
  right: 0;
}

.top .redacted:before,
.bottom .redacted:before {
  -moz-animation: redact-blackout-height 1s ease-out forwards infinite;
  -webkit-animation: redact-blackout-height 1s ease-out forwards infinite;
  animation: redact-blackout-height 1s ease-out forwards infinite;
}

.bottom .redacted:before {
  bottom: 0;
}

@-moz-keyframes redact-blackout-width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes redact-blackout-width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes redact-blackout-width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@-moz-keyframes redact-blackout-height {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@-webkit-keyframes redact-blackout-height {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes redact-blackout-height {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

/* Blur */

.blur img {
  filter: blur(15px);
  transition: all ease-in-out .2s;
  cursor: crosshair;
}

.blur img:hover {
  filter: blur(0px);
}

/* Comment Section */


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: body, sans-serif;
  font-size: 1rem;
  color: #333;
  background-color: #f4f4f4;
}

.user_avatar {
  width: 65px;
  height: 65px;
  display: inline-block;
  vertical-align: middle;
}
.user_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.comment_block {
  width: 65%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}
.comment_block .create_new_comment {
  width: 100%;
  padding: 20px 0;
}
.comment_block .create_new_comment .input_comment {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: calc(100% - 75px);
}
.comment_block .create_new_comment .input_comment input[type=text] {
  width: 100%;
  font-family: body, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #f2f2f2;
}
.comment_block .create_new_comment .input_comment input[type=text]:focus {
  outline: none;
  border-bottom: 2px solid #e6e6e6;
}
.comment_block .new_comment {
  width: 100%;
  height: auto;
  padding: 20px 0;
  border-top: 1px solid #e6e6e6;
}
.comment_block .new_comment .user_comment {
  list-style-type: none;
}
.comment_block .new_comment .comment_body {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 75px);
  min-height: 65px;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #555;
  background-color: #FFF;
  border-bottom: 2px solid #f2f2f2;
}
.comment_block .new_comment .comment_body .replied_to {
  margin: 5px 0px;
  background-color: #fafafa;
  border-bottom: 2px solid #f2f2f2;
  border-radius: 5px;
}
.comment_block .new_comment .comment_body .replied_to p {
  padding: 5px;
}
.comment_block .new_comment .comment_body .replied_to span {
  color: #6495ED;
  margin-right: 2px;
}
.comment_block .new_comment .comment_toolbar {
  width: 100%;
}
.comment_block .new_comment .comment_toolbar ul {
  list-style-type: none;
  padding-left: 75px;
  font-size: 0;
}
.comment_block .new_comment .comment_toolbar ul li {
  display: inline-block;
  padding: 5px;
  font-size: 0.7rem;
  color: #d9d9d9;
}
.comment_block .new_comment .comment_toolbar ul li:hover {
  cursor: pointer;
}
.comment_block .new_comment .comment_toolbar .comment_details {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  text-align: left;
}
.comment_block .new_comment .comment_toolbar .comment_tools {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  text-align: right;
}
.comment_block .new_comment .comment_toolbar .comment_tools li:hover {
  color: #CCC;
}
.comment_block .new_comment .user:hover {
  color: #6495ED;
  text-decoration: underline;
}
.comment_block .new_comment .love:hover {
  color: #FF6347;
}